<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="shortcut icon" href="{{.BasePath}}/app/favicon.ico" />
    <title>Velociraptor Response and Monitoring: Authentication Required</title>
  </head>
  <body id="body" class="{{.UserTheme}}">
    <div id="root">
     <h1>Authentication Required</h1>
     <p>You must be successfully authenticated with a valid account to access this system.</p>
     <p><a href="{{.LoginUrl}}" style="text-transform:none">Login with {{.Provider}}</a></p>
    </div>
  </body>
</html>
