SENSOR_GUI_HOSTNAME=<fully-qualified-domain-name-for-public-dns>

# COMPOSE_PROFILES=kafka
# KAFKA_PASSWORD=<random-password>
# KAFKA_0_FQDN=<fqdn-for-1st-kafka-node>
# KAFKA_1_FQDN=<fqdn-for-2nd-kafka-node>
# KAFKA_2_FQDN=<fqdn-for-3th-kafka-node>
